body {
    /*this is from bettermotherfuckingwebsite*/
    margin:40px auto;
    max-width:1000px;
    line-height:1.6;
    font-size:18px;
    padding:0 10px;
    color:#444;
    /*this is custom*/
    background-color: #E0E4CC;
    font-family: Helvetica, sans-serif;
    text-align: center;
}a:link {
    color: #1d6991;
}
a:visited {
    /*gray-ish teal obtained by averaging dark teal and medium teal*/
    color: #7887af;
}h1, h2, h3, h4 {
    font-family: Courier,serif;
    color:#1d6991;
    /*from bettermotherfuckingwebsite*/
    line-height: 1.2;
}h1 {
    text-align: center;
}.simple-img img {
    display: block;
    margin: 0 auto;
}
