/*colors from http://www.colourlovers.com/palette/92095/Giant_Goldfish
#E0E4CC greenish-cream
#1d6991 dark teal
#69D2E7 medium teal
#A7DBD8 light teal
#F38630 orange
#FA6900 redder orange

from elsewhere
#8379CD blurple
#D8DDB8 more saturated light green
*/

body {
	/* from bettermotherfuckingwebsite */
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	padding:0 10px;
	color:#444;
	/*this is custom*/
	background-color: #D8DDB8;
	font-family: "IBM Plex Sans", Helvetica, sans-serif;
}

a:link {
	color: #1d6991;
}
a:visited {
	/* gray-ish teal obtained by averaging dark teal and medium teal */
	color: #7887af;
}

h1, h2, h3, h4 {
	font-family: "IBM Plex Mono", Courier, serif;
	color: #8379CD;
	line-height: 1.2;
	text-align: center;
}

.block {
	padding-top: 20px;
	padding-bottom: 20px;
}

.link-header a {
	text-decoration: none;
	color:#1d6991;
}

img {
    display: block;
    margin: 0 auto;
    width: 350px;
}

.round-img img {
	border-radius: 50%
}

.center-text {
	text-align: center
}



