/*colors from http://www.colourlovers.com/palette/92095/Giant_Goldfish
#E0E4CC greenish-cream
#1d6991 dark teal
#69D2E7 med teal
#A7DBD8 light teal
#F38630 orange
#FA6900 redder orange
*/

body {
	background-color: #E0E4CC; 
	padding-top: 30px;
	font-family: Courier, sans-serif;
}

h3 {
	text-align: center;
}

h4 {
	padding-top: 10px;
}

ul {
	padding-left: 0;
	/*This was to center the circle-btn things. Dunno why it won't work on circle-btn ul :\ */
}

.circle-select ul {
	padding-left: 0;
}

.col-md-6 {
	text-align: center;
	list-style-type: none;
}

.button-circle ul {
	padding: 0px;
	float: both;
	list-style-type: none;
	display: inline-block;
	text-align: left;
	margin-left: 0px;
	padding-left: 0px;
}


.circle-btn li {
	display: inline-block;
	text-align: center;
	padding: 0px;
}

.circle-btn-play li {
	display: inline-block;
	text-align: center;
}

.circle-btn, .circle-btn-play {
	background-color: #69D2E7;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 10px;
	padding-left: 0px;
	padding-top: 20px;
	border-radius: 100%;
	text-align: center;
	float: both;
	font-size: 2.5em;
	color: white;
	vertical-align: top;
}

.circle-btn h3, .circle-btn-play h3 {
	font-size: 0.5em;
}

.circle-btn a, .circle-btn-play a {
	text-decoration: none;
	color: white;
}

.circle-btn p, .circle-btn-play p {
	padding-top: 40px;
	font-size: 0.5em; 
	color: gray;
}

.circle-btn:hover, .circle-btn-play:hover {
	background-color: #1d6991;
}

.circle-btn.active-circle:hover, .circle-btn-play.active-circle:hover {
	background-color: #1d6991;
}

.circle-btn.active-circle, .circle-btn-play.active-circle {
	background-color: #F38630;
}

.article {
	display: none;
}

.article.active {
	display: inline;
}

.navbar {
	background-color: #1d6991;
	color: white;
}

#navigationbar li a.active {
	background-color: #1d6991;
}

.nav .navbar{
	background-color: #1d6991;
	padding: 14px 14px;
	color: white;
}

.nav a {
	font-size: 1.5em;
	background-color: #1d6991;
	padding: 14px 14px 20px 20px;
	color: white;
}

.navbar-inverse .navbar-nav > .active > a {
    color: #FFF;
    background-color: #FA6900;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: #FA6900;
}

.nav li {
	background-color: #1d6991;
	display: inline;
	color: white;
}

ul.nav a {color:#E0E4CC !important;}

ul.nav a:hover { color: white !important; }

.nav ul > li.active > a:hover{
	background-color: #F38630;
}

.jumbotron {
	background-color: #E0E4CC;
	padding-bottom: 0px;
}

.jumbotron h1 {
	text-align: center;
	font-size: 4em;
	color: #FA6900;
	font-weight: bold;
}

.jumbotron h2 {
	font-size: 2.5em;
	text-align: center;
	color: #F38630;
	font-weight: bold;
}


