{% extends "base.html" %}
{% block content %}
<h1>Margaret Sy</h1>
</div>
</div>

<div class="row circle-nav">
  <div class="col-md-6 col-md-offset-3">
    <ul class="circle-select">
      <li class="circle-btn">
        <h3>Contact</h3>
      </li>
      <li class="circle-btn active-circle">
        <h3>Welcome</h3>
      </li>
      <li class="circle-btn">
        <h3><a href="https://www.linkedin.com/in/margaretsy">LinkedIn</a> </h3>
      </li>
    </ul>
  </div>
</div>


<div class="articles container">

  <div class="article row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <p>Email: margaretsy1016 [at] gmail [dot] com</p>
      <div style="text-align: center;"><img src={{ url_for('static', filename="imgs/octopus.png") }} style="width:250px" class="img-responsive"></div>
    </div>
  </div>

  <div class="article active row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h3>Tl;dr</h3>
      <p>Recently graduated with a Bachelor's degree in Computer Science from UC Berkeley.
        I'm a general science and science education enthusiast, and I'm excited to continue learning new things in industry. I'm the newest member of the engineering team at <a href="http://flyrlabs.com">FLYR Inc.</a>
      </p>
      <p>I like to spend my free time fencing, playing board games (the best one is <a href="https://en.wikipedia.org/wiki/Hive_%28game%29">Hive</a>), futzing around on the piano, and watching YouTube videos. Occasionally I do <a href={{ url_for('projects') }}>fx makeup</a> or <a href="http://sketchrepo.tumblr.com/archive">draw things</a>.</p>
      <img class="img-responsive" src="http://imgs.xkcd.com/comics/margaret.png">
    </div>
  </div>

  <div class="article row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <p><a href="https://angel.co/margaret-sy">AngelList</a> </p>
      <p><a href="https://github.com/margaret">GitHub</a> A few things.</p>
      <br>
      <a href="https://fish.cs.berkeley.edu/"><img src={{ url_for('static', filename="imgs/koi.png") }} width="250px" title="fish" class="img-responsive"></a>
    </div>
  </div>
{% endblock %}
