{% extends "base.html" %}
{% block content %}

<h1>Margaret Sy</h1>

<p>I'm a software engineer focusing on developer tooling and infrastructure (aka DevOps), with experience working with distributed systems, container orchestration, and diagnosing and fixing CI issues spanning the full stack down to the OS and hardware level.</p>

<p>I enjoy working at the platform level because in addition to the opportunity to learn about and work with a wide range of technologies, it requires working with and learning from a wide range of people.</p>

<p>Some things I like: <a href="http://berkeleyballettheater.org">ballet</a>, chinchillas, tegus, snakes, (animals generally), NOVA documentaries, cheese, watercolors, spaaaaace, open source science, and lists.</p>

<div class="center-text">
  <p><a href="https://www.linkedin.com/in/margaretsy">LinkedIn</a> | 
  <a href="https://github.com/margaret">GitHub</a> | 
  <a href="http://ocf.berkeley.edu/~marsy/Margaret_Sy_Resume.pdf">Resumé</a></p>
</div>

<div class='round-img'>
  <a href="https://www.ocf.berkeley.edu/~marsy/">
  <img src={{ url_for('static', filename="imgs/astronaut.jpg")}} width="250px" title="beep boop secret website">
  </a>
</div>

<p>Previously at <a href="https://mesosphere.com">Mesosphere</a> where I worked on internal software frameworks and tools for automating testing of <a href="https://github.com/mesosphere/dcos">DC/OS</a> (the Datacenter Operating System), which involves DISTRIBUTED SYSTEMS and BIG DATA and CONTAINERS and CLOUD-NATIVE TECHNOLOGY, and <a href="http://swiftnav.com">Swift Navigation</a>, where I worked on a pipeline for automated hardware-in-the-loop testing of high-accuracy GNSS sensors that go into THINGS IN SPACE and AUTONOMOUS VEHICLES and stuff.</p>

<p>Proud owner of a BA in Computer Science from UC Berkeley, where I spent four years meandering through a series of research assistant positions in various departments until I realized that I was actually just doing programming in all of them and was probably best off just majoring in Computer Science.</p>

<p>Volunteer in the <a href="https://www.lawrencehallofscience.org/visit/exhibits/animal_investigations/animal_discovery_room">Animal Discovery Room</a> at the Lawrence Hall of Science, where I introduce visitors to friendly critters like boa constrictors, turtles, and mice.</p>

{% endblock %}
