{% extends "base.html" %}
{% block content %}

<h1 style="font-size:2.5em">Other places on the INFORMATION SUPERHIGHWAY</h1>

  <div id="Intro">
    <p style="text-align:center;">A link dump in no particular order.</p>
  </div>

  <div id="Blogs">
    <h3>Other People</h3>
    <ul>
      <li><a href="http://hipsterdatascience.com/">Chandler Abraham</a> - Photos, color science, visualization, data science, etc</li>
      <li><a href="http://www.through-the-floor.com/">Meena Vempaty</a> — Art stuff, computer stuff, cool stuff</li>
      <li><a href="http://rkwan.me/">Ronald Kwan</a> — CS, data journalism, Pearl Milk Tea reviews</li>
      <li><a href="http://www.alexirpan.com/">Alex Irpan</a> — Math, CS, Mathy CS, board game strategy, etc</li>
      <li><a href="http://www.math.ucla.edu/~alexmennen/">Alex Mennen</a> — Math. He does math.</li>
      <li><a href="http://adammunich.com/">Adam Munich</a> — A guy who makes things.</li>
    </ul>
  </div>

  <div id="Misc">
    <h3>Miscellaneous websites I enjoy</h3>
    <ul>
      <li>The <a href="http://marsprogram.jpl.nasa.gov/MPF/rover/sojourner.html">original Sojourner Rover website</a> from 1996-1997 is still up and is one of my favorite things on the internet. Some of the subpages have text and <a href="http://marsprogram.jpl.nasa.gov/MPF/rovercom/rovcom.html">HIGH GRAPHICS VERSIONS</a>. It actually used a lot of commodity hardware, and I was surprised to learn the controls had a VR component.</li>
      <li><a href="https://medium.com/halting-problem">The Halting Problem</a> — The Onion, for tech. (Written by Peter Gao.) I can't tell if it's hard to tell these are satire because they're so excellently written, or because Silicon Valley really has lost its mind. Probably both.</li>
      <li><a href="http://classicprogrammerpaintings.com/">Classic Programmer Paintings</a></li>
      <li><a href="http://this-plt-life.tumblr.com/">This PLT Life</a> — Memes about programming languages</li>
      <li><a href="https://www.reddit.com/r/sketchdaily">Sketch Daily</a> is pretty much what it sounds like, and is one of my favorite subreddits. Relatively small but nice community and it's fun to see the range of interpretations for the prompts every day.</li>
    </ul>
  </div>

  <div id="More">
    <h3>More of my crap</h3>
    <ul>
      <li><a href="http://sketchrepo.tumblr.com/">Sketch Repo</a> — Sometimes I draw things besides snakes.</li>
      <li><a href="https://github.com/margaret/reference">reference</a> — A GitHub repo where I keep a list of links, mostly related to programming/engineering things.
    </ul>
  </div>

<br>
{% endblock %}

