{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 style="font-size:2.5em">Other places on the INFORMATION SUPERHIGHWAY</h1>
  </div>
</div>
{% endblock %}

{% block pages %}


<div class="container">
  <div class="row" id="Intro">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
    <p style="text-align:center;">A link dump in no particular order. Because somehow this is easier than using the bookmark feature on the browser.</p>
    </div>
  </div>

  <div class="row" id="Blogs">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
      <h3>Personal Websites</h3>
      <p>Other cool(er) people.</p>
      <h4>People I know</h4>
      <p>Where "know" ranges anywhere from "we've talked briefly a few times" to "yeah we're actually friends."</p>
      <ul style="padding-left:10px">
        <li><a href="http://hipsterdatascience.com/">Chandler Abraham</a> - Photos, color science, visualization, data science, etc</li>
        <li><a href="www.through-the-floor.com/">Meena Vempaty</a> - Art stuff, computer stuff, cool stuff</li>
        <li><a href="http://rkwan.me/">Ronald Kwan</a> — CS, data journalism, Pearl Milk Tea reviews</li>
        <li><a href="http://www.alexirpan.com/">Alex Irpan</a> — Math, CS, Mathy CS, board game strategy, etc</li>
        <li><a href="http://www.math.ucla.edu/~alexmennen/">Alex Mennen</a> — Math. He does math.</li>
        <li><a href="https://www.facebook.com/AnandVarmaPhotographer/">Anand Varma</a>, intrepid National Geographic Photographer-adventurer — Okay technically I don't know this guy, but I did have a short email correspondence with him about 5 years ago when he gave a talk at Berkeley and I had some questions... He primarily posts updates to Facebook now, but I think it's definitely worth reading some of his old travel blog posts on his <a href="http://www.varmaphoto.com/">website</a>.</li>
        <li><a href="http://adammunich.com/">Adam Munich</a> — A guy who makes things.</li>
        <li><a href="http://naominishihara.com/">Naomi Nishihara</a> — Journalism</li>
      </ul>
      <h4>Internet randos</h4>
      <ul style="padding-left:10px">
        <li><a href="https://nargaque.com/">A Reasoner's Miscellany</a> — As per the name, a broad topic range (current events, tech, math, psychology, movie reviews...)</li>
        <li><a href="http://dereklow.co/">Derek Low</a> — Travel blog + cool stuff he makes. Went to Cal around the same time as me, rose to fame due to his <a href="http://www.dereklow.co/berkeley-ridiculously-automated-dorm-brad/">Ridiculously Automated Dorm Room</a>.</li>
      </ul>
    </div>
  </div>

  <div class="row" id="Resources">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
      <h3>Resources / Learning</h3>
      <h4>Programming</h4>
      <ul style="padding-left:10px">
        <li><a href="https://www.atlassian.com/git/">Atlassian guide to Git</a></li>
        <li><a href="http://www.compciv.org/curriculum/">Computational Methods in the Civic Sphere</a> — aka "Generally how to make your computer do things for you, with a particular focus on data journalism sorts of things." Their <a href="http://www.compciv.org/bash-guide/">Bash guide</a> is super approachable.</li>
        <li><a href="https://www.fullstackpython.com/">Full Stack Python</a> — Python IRL. Good conceptual overviews and detailed explanations of how to use Python to write web apps.</li>
        <li><a href="http://docs.python-guide.org/en/latest/">Hitchhiker's Guide to Python</a> — aka the Python bible.</li>
        <li><a href="https://learn.sparkfun.com/tutorials/tags/concepts">Sparkfun</a> has a lot of very readable tutorials for EE concepts.</li>
      </ul>
      <h4>Being outside</h4>
      <ul style="padding-left:10px">
        <li><a href="http://gurmeet.net/hiking/">Bay Area Hikes</a></li>
        <li><a href="http://www.meetup.com/anythingactive/">Bay Area Anything Active</a> meetup group. I haven't actually been to any of these (yet) because I don't have a car, but the event archive has a lot of hiking ideas</li>
        <li><a href="http://www.highlinekites.com/">Highline Kites</a> — Small kite shop at Chavez Park next to the Berkeley Marina. They host the super awesome annual kite festival.</li>
      </ul>
      <h4>Random STEM websites</h4>
      <ul style="padding-left:10px">
        <li>The <a href="http://marsprogram.jpl.nasa.gov/MPF/rover/sojourner.html">original Sojourner Rover website</a> from 1996-1997 is still up and is one of my favorite things on the internet. Some of the subpages have text and <a href="http://marsprogram.jpl.nasa.gov/MPF/rovercom/rovcom.html">HIGH GRAPHICS VERSIONS</a>. It actually used a lot of commodity hardware, and I was surprised to learn the controls had a VR component.</li>
        <li><a href="http://www.cs.berkeley.edu/~sequin/CS39/">Berkeley seminar CS39</a> — fun intro to symmetry and topology that I took way back in my sophomore year. I guess the site itself isn't super great, but clicking around can set you off down rabbit holes of knots and symmetry and graphs.</li>
      </ul>
    </div>
  </div>

  <div class="row" id="Reading">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
      <h3>Things I like reading</h3>
      <ul style="padding-left:10px">
        <li><a href="http://waitbutwhy.com/">Wait But Why</a></li>
        <li><a href="http://blogs.scientificamerican.com/cross-check/scott-aaronson-answers-every-ridiculously-big-question-i-throw-at-him/">Scientific American Q&A</a> with Scott Aaronson</li>
        <li>Actually, the blog <a href="http://blogs.scientificamerican.com/cross-check/">blog</a> which produced that^ actually has consistently interesting posts</li>
        <li><a href="http://priceonomics.com/">Priceonomics</a> — Blog posts on a variety of topics, usually based on datasets. These seem to be written by companies trying to increase their SEO, but the article quality is usually pretty good. Often covers SF-related topics.</li>
        <li><a href="https://medium.com/halting-problem">The Halting Problem</a> — The Onion, for tech. (Written by Peter Gao.) I can't tell if it's hard to tell these are satire because they're so excellently written, or because Silicon Valley really has lost its mind. Probably both.</li>
        <li><a href="http://www.amazon.com/Martian-Andy-Weir/dp/0553418025/">The Martian</a> — If you haven't read The Martian <span style="font-style:italic"><a href="https://xkcd.com/1536/">you need to read The Martian</a>.</span></li>
      </ul>
    </div>
  </div>

  <div class="row" id="Entertainment">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
      <h3>Fun Stuff</h3>
      <h4>Webcomics</h4>
      <ul style="padding-left:10px">
        <li><a href="https://www.xkcd.com">xkcd</a> — The most important OkCupid question just might be "Do you read the webcomic xkcd?" (The only acceptable answers are "Yes" and "No, but I plan to immediately.")</li>
        <li><a href="https://www.smbc-comics.com">Saturday Morning Breakfast Cereal</a> — Another heavily STEM-influenced but legitimately hillarious webcomic.</li>
        <li><a href="http://lackadaisycats.com/">Lackadaisy</a> — A jaw-droppingly painstakingly illustrated webcomic about anthropomorphized cats running a speakeasy in the 1920s. It sounds strange but it's actually great.</li>
        <li><a href="https://tapastic.com/series/fisheye">Fisheye Placebo</a> — mysteriously-named, excellently-illustrated cyberpunk-y webcomic of the internet and freedom and ethics. (Rarely updated.)</li>
      </ul>
      <h4>YouTube Channels</h4>
      <p>I'm a fan of way more than listed here. If you see what channels SciShow follows, that should give you a good starting list.</p>
      <ul style="padding-left:10px">
        <li><a href="https://www.youtube.com/user/scishow">SciShow</a> — A YouTube channel about science. Hosted by Hank Green and has excellent production values.</li>
        <li><a href="https://www.youtube.com/user/ReelNASA">NASA Johnson</a> — One of the NASA YouTube channels. What the hell do they even do now that we aren't sending people to the moon? What happens on the ISS? Find out here.</li>
        <li><a href="https://www.youtube.com/user/Vihart">Vi Hart</a> — Recreational mathy things. Like hexaflexagons and fractals and music theory.</li>
      </ul>
      <h4>Other Spheres of the Internet</h4>
      <p>I don't tweet, but there are a lot of funny accounts out there.</p>
      <ul style="padding-left: 10px">
        <li><a href="https://twitter.com/boredelonmusk">Bored Elon Musk</a></li>
        <li><a href="https://twitter.com/elonmusk">Actual Elon Musk</a></li>
        <li><a href="https://twitter.com/HardSciFiMovies">Hard Sci Fi Movies</a> — What should have happened.</li>
      </ul>
      <p>Streams of captioned pictures</p>
      <ul style="padding-left: 10px">
        <li><a href="http://classicprogrammerpaintings.com/">Classic Programmer Paintings</a></li>
        <li><a href="http://this-plt-life.tumblr.com/">This PLT Life</a> — Memes about programming languages</li>
      </ul>
      <p></p>
      <p>Drawing</p>
      <ul style="padding-left: 10px">
        <li><a href="https://www.reddit.com/r/sketchdaily">Sketch Daily</a> is pretty much what it sounds like, and is one of my favorite subreddits. Relatively small but nice community and it's fun to see the range of interpretations for the prompts every day.</li>
        <li><a href="http://sneklyfe.tumblr.com">Snek Lyfe</a> — I drew a bunch of snakes that I use as DIY text-messaging stickers.</li>
        <li><a href="http://sketchrepo.tumblr.com/">Sketch Repo</a> — Sometimes I draw other things besides snakes.</li>
      </ul>
    </div>
  </div>

</div>
<br>
{% endblock %}

