{% extends "base.html" %}
{% block content %}

<h1 style="font-size:2.5em">Other places on the INFORMATION SUPERHIGHWAY</h1>

  <div id="Intro">
    <p style="text-align:center;">A link dump in no particular order</p>
  </div>

  <div id="Blogs">
    <h3>Other People With Websites</h3>
    <ul>
      <li><a href="http://richardthurston.net">Richard Thurston</a> – Lasers</li>
      <li><a href="http://www.through-the-floor.com/">Meena Vempaty</a> — Art stuff, computer stuff, cool stuff</li>
      <li><a href="http://hipsterdatascience.com/">Chandler Abraham</a> - Photos, color science, visualization, data science, etc</li>
    </ul>
  </div>

  <div id="Misc">
    <h3>Fun stuff</h3>
    <ul>
      <li>The <a href="https://marsprogram.jpl.nasa.gov/MPF/rover/sojourner.html">original Sojourner Rover website</a> from 1996-1997 is still up and is one of my favorite things on the internet. Some of the subpages have text and <a href="http://marsprogram.jpl.nasa.gov/MPF/rovercom/rovcom.html">HIGH GRAPHICS VERSIONS</a>. It actually used a lot of commodity hardware, and I was surprised to learn the controls had a VR component.</li>
    </ul>

    <h3>Tech</h3>
    <ul>
      <li><a href="https://medium.com/halting-problem">The Halting Problem</a> — The Onion, for tech. (Written by Peter Gao.) I can't tell if it's hard to tell these are satire because they're so excellently written, or because Silicon Valley really has lost its mind. Probably both.</li>
      <li><a href="https://classicprogrammerpaintings.com/">Classic Programmer Paintings</a></li>
      <li><a href="http://www.art.net/~hopkins/Don/unix-haters/tirix/embarrassing-memo.html">An internal memo from Silicon Graphics</a> about dealing (or not dealing) with common pitfalls in software engineering projects. It makes me feel simultaneously better and worse that people have been struggling with the same issues since before I was born.</li>
    </ul>
  </div>

  <div id="More">
    <h3>More of my stuff</h3>
    <ul>
      <li><a href="https://pinterest.com/ter4gr4m">Pinterest</a></li>
      <li><a href="https://sketchrepo.tumblr.com/">Sketch Repo</a> (defunct) — Sometimes I draw things besides snakes.</li>
    </ul>
  </div>

<br>
{% endblock %}

