{% extends "base.html" %}
{% block content %}
<h1>Makeup</h1>

<blockquote class="imgur-embed-pub" lang="en" data-id="a/5F5OA"><a href="//imgur.com/5F5OA">Makeup and Facepaints</a></blockquote>
<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

<p>Strange out-of-context captions because some photos are grabbed from other albums.</p>

<h2>FAQ</h2>
  
  <h4>What materials do you use?</h4>
  
  <p>For facepaint I use the <a href="https://www.amazon.com/Mehron-Paradise-Palette-Basic-Colors/dp/B00FGAET6A">Mehron AQ facepaint palette.</a> It's easy to work with and great value. I've kept looks on for several hours, however, as it's water-based paint, it doesn't hold up well to sweat. I use the brush that came with the palette, a variety of elf studio brand brushes, and <a href="https://www.amazon.com/gp/product/B002OTXC6O/">these facepaint sponges</a> to apply it.</p>
  
  <p>I also use a mix of cheapo eyeshadow palettes (particularly this <a href="https://www.amazon.com/gp/product/B008FX7B9M/">252-color palette</a>) and other drugstore makeup. I always use some sort of face primer as a first step.</p>

  <h4>How long does that take?</h4>
  
  <p>Anywhere from one to three hours for the stuff in the album.</p>
  
  <h4>How???</h4>
  
  <p>By watching lots of YouTube videos (Promise Phan, MadeYewLook, etc), looking at lots of pictures, and getting lots of practice. I was pretty into the SyFy show Face Off for a while too, though that's more focused on practical/industry SFX rather than just painting.</p>

  <p>Understanding that light colors bring areas forward and dark colors make things look receded is about half of it. A lot of the rest is just practicing detail work and blending/smooth application. I look at most of the looks in the gallery and see a lot of ways I could have improved them.</p>

  <h4>Do you still do this? Can you paint my face?</h4>
  
  <p>Nope. I've moved on to other hobbies now, but it did make 2012-2015 pretty interesting. You can see some more of this stuff on my old <a href="http://pygoscelis.tumblr.com">Tumblr</a>.</p>
{% endblock %}

