{% extends "base.html" %}
{% block content %}
<h2>Margaret Sy</h2>
<h1>Other things</h1>
</div>
</div>


<div class="row circle-nav">
  <div class="col-md-6 col-md-offset-3">
    <ul class="circle-select">
      <li class="circle-btn">
        <h3>Fencing</h3>
      </li>
      <li class="circle-btn active-circle">
        <h3>Makeup</h3>
      </li>
      <li class="circle-btn">
        <h3>BMT</h3>
      </li>
      <li class="circle-btn">
        <h3>Berkeley</h3>
      </li>
      <li class="circle-btn">
        <h3>Misc</h3>
      </li>
    </ul>
  </div>
</div>

<div class="articles container">


  <div class="article row" id="fencing" text-center>
    <div class="col-md-8 col-md-offset-2">
      <p>I fenced <a href="http://en.wikipedia.org/wiki/Foil_%28fencing%29">foil</a> for the UC Berkeley fencing club. I was also the secretary and webmaster (I gave the our <a href="http://fencing.berkeley.edu">website</a> a much-needed overhaul). If you have any questions about the club or <a href="https://fencing.berkeley.edu/decal.html">DeCal</a>, feel free to ask me :D</p>
      <!--To do: insert actual image galleries for anything requiring photos-->
      <!--<img src="imgs/armed-bears.jpg" width=66%>-->

      <!--<img src="imgs/margaret-fencing.jpg" width=66%>-->

      <img src={{ url_for('static', filename="imgs/fencing_group.jpg") }} width=80%/>

      <!--<img src="imgs/fencing-davis-2014.jpg" width=66%/>-->

    </div>
  </div>

  <div class="article active row">
    <div class="col-md-8 col-md-offset-2">
      <p>I have been doing SFX makeup / face painting as a hobby since 2012. If you'd like me to do your makeup for an event or just want some advice, feel free to <a href="mailto:margaretsy1016@gmail.com">send me a message!</a> </p>
      <p>Follow me on <a href="http://pygoscelis.tumblr.com">Tumblr</a> to see my work! Currently having issues with Flickr since my Yahoo account was automatically closed due to inactivity, so the slideshow below isn't updated.</p>
      <h4>Links</h4>
      <p>Turns out that you can learn pretty much anything from YouTube. Here are some SFX and face painting channels that I've found helpful, in no particular order.</p>
      <ul style="padding-left: 10px">
        <li><a href="https://www.youtube.com/user/goldiestarling">GoldieStarling</a> </li>
        <li><a href="https://www.youtube.com/user/iwanted2c1video/">iwanted2c2video</a> </li>
        <li><a href="https://www.youtube.com/user/petrilude/">Petrilude</a> </li>
        <li><a href="https://www.youtube.com/user/MadeYewLook/">MadeYewLook</a> </li>
        <li><a href="https://www.youtube.com/user/dope2111">Promise Phan</a> </li>
      </ul>
      <p><a href="https://www.reddit.com/r/sfx">/r/sfx</a> is also a helpful resource. <a href="https://www.reddit.com/r/makeupaddiction">/r/makeupaddiction</a> has more users but there's a lot more stuff to sift through. </p>
      <div style='position: relative; padding-bottom: 81%; height: 0; overflow: hidden;'><iframe id='iframe' src='http://flickrit.com/slideshowholder.php?height=80&size=big&setId=72157648510622614&thumbnails=0&transition=0&layoutType=responsive&sort=0' scrolling='no' frameborder='0'style='width:100%; height:100%; position: absolute; top:0; left:0;' ></iframe></div>
    </div>
  </div>

  <div class="article row" id="BMT">
    <div class="col-md-8 col-md-offset-2">
      <h3>Berkeley Math Tournament</h3>
      <p>"The Berkeley Math Tournament Group hosts and organizes mathematical contests for middle and high school students. In organizing these tournaments, the team strives to encourage mathematical exploration and understanding by introducing concepts not covered in the typical pre-college curricula to students with high mathematical aptitude and interest. Each contest emphasizes collaboration between team members, while still allowing individuals to prove their own ability."</p>
      <p>I got lured in as a day volunteer one semester by promises of free food and milk tea, and I enjoyed it so much I stayed on and eventually became Head of Logistics (until I graduated). It's been challenging and fulfilling organizing such a large event, and I met a lot of awesome people.</p>
      <p>See <a href="http://bmt.berkeley.edu">See bmt.berkeley.edu</a> for more.</p>
    </div>
  </div>

  <div class="article row" id="Berkeley">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>UC Berkeley</h3>
      <p>Berkeley is an amazing university. Many departments are some of the best in their field, the location is great, and on the whole the students and faculty are passionate, hard-working, and generally awesome people. That being said I wouldn’t blanket recommend it to everyone. It’s a huge school and it’s very easy to end up floating around by yourself. There are tons of resources to help you succeed, but it’s on you to use them. Nobody is going to hold your hand. </p>
      <h4>Resources</h4>
      <p>From what I know, the school is doing an overhaul of the ancient student sites (like Telebears) so I’m going to assume that there are more up-to-date places that list which official site you should use for what. That being said, here are some sites that I found helpful during my time there. Let me know if any of the links are broken. Last updated 07/07/2015</p>
      <h5>Academics / Campus</h5>
      <ul>
        <li><a href="http://berkeleytime.com/">Berkeleytime</a> - Fantastic complement to ninjacourses/schedulebuilder. In addition to the catalog information, also provides historical enrollment information, and a map that shows what classes will be in each classroom (handy for checking if a space is likely to be available for groupwork).</li>
        <li><a href="http://www.lib.berkeley.edu/using-the-libraries/find-study-space">Reserve a library room</a> -  Reserve study rooms. Note that this gets more competitive during dead week.</li>
        <li><a href="http://music.berkeley.edu/about-us/resources-and-facilities/practice-rooms/">Music Practice Rooms</a> - Music practice rooms are available in the basement of Hertz Hall, free to anyone with a Cal ID. Most of them have pianos.</li>
        <li><a href="http://services.housing.berkeley.edu/c1c/static/laundryvending.htm">Dorm Laundry Status</a> - You can check on the status of laundry machines in the dorms.</li>
        <li><a href="http://www.lib.berkeley.edu/using-the-libraries/connect-off-campus">Library Proxy</a> - Set up the library proxy so you can access paywalled articles on the go.</li>
        <li><a href="https://software.berkeley.edu/">Free Software</a> </li>
      </ul>

      <h5>Housing / Buying / Selling</h5>
      <ul>
        <li><a href="http://www.padmapper.com/">Padmapper</a> - Craigslist posts, mapped. My condolences that you have to look for housing around here. </li>
        <li><a href="https://www.facebook.com/groups/266259923468888/">Housing</a> - While we’re on the topic of housing, make sure you joined the larger of the two Housing Facebook groups (there are two with the same name).</li>
        <li><a href="https://www.facebook.com/groups/266259930135554/">Free & For Sale</a> - Everything you never knew you needed.</li>
        <li><a href="http://www.ucbmealpoints.com/">Mealpoints Exchange</a> - Sell your meal points / get discount dining meals. It appears that this still works. Otherwise, try Free & For Sale.</li>
      </ul>

      <h5>EECS EECS EECS EECS EECS EECS EECS EECS</h5>
      <ul>
        <li><a href="https://hkn.eecs.berkeley.edu/">HKN</a> - The EECS honors society has tutoring all day erryday during the Fall and Spring semesters. Check the schedule to go when the tutor is familiar with the class you need help with. They also have a test bank.</li>
        <li><a href="http://www-inst.eecs.berkeley.edu/cgi-bin/clients.cgi?choice=servers">List of inst servers</a> - Is the server you’re trying to log in to down? Try one of these. YMMV with what’s installed. </li>
        <li><a href="https://inst.eecs.berkeley.edu/~cs61a/sp12/fromhome.pdf">Connect to inst from home</a>; <a href=" https://inst.eecs.berkeley.edu/~cs61a/sp12/connect-mac-linux.html">Mac/Linux</a> - How do you log in? Last I checked there were a couple of different instructions floating around on how to do this. I like these.</li>
        <li><a href="https://github.com/nherson/choose-hive">Choose the optimal hive machine</a> - Find the hive machine with the smallest load. Helpful during crunch time for those CS 61C projects.</li>
        <li><a href="http://events.berkeley.edu/index.php/calendar/sn/eecs.html ">Department Calendar</a> - What are we eating for dinner today?</li>
      </ul>

      <h5>Other</h5>
      <ul>
        <li><a href="http://www.reddit.com/r/berkeley">/r/berkeley</a> - TBH in recent months the quality of posts have been declining, but there are occasionally helpful discussions and there’s a lot of archived material.</li>
        <li><a href="http://goddammitberkeley.tumblr.com/">http://goddammitberkeley.tumblr.com/</a> </li>
        <li><a href="https://www.ocf.berkeley.edu/~vlo/BerkeleyResources.php#apps">vlo's megalist</a> - Heck, just go check out Victoria Lo’s comprehensive list of Cal resources. I’m not sure if she's planning to keep updating it but the majority of links should still work.</li>
      </ul>

    </div>
  </div>

  <div class="article row" id="Misc">
    <div class="col-md-8 col-md-offset-2">
      <h3>Other stuff</h3>
      <h4>UCBUGG</h4>
      <p>I made an animated short in the Spring 2013 <a href="http://www.ucbugg.com/">UCBUGG</a> decal. I worked with Michael Ho, Nathan Connor, Stephanie Cai, <-- (major props to these three) Jin Kim, and Katherine Xu. I worked on storyboarding and models. </p>
      <p>I highly recommend taking the class if you're interested in learning the full animation pipeline! Just make sure you have enough time for it because it's a lot of work.</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/yYx-v687Ol0?rel=0" frameborder="0" allowfullscreen></iframe>
      <p>Created using the amazing and frustrating Autodesk Maya.</p>
      <img src={{ url_for('static', filename="imgs/ucbugg1.jpg") }} width="256px">
      <img src={{ url_for('static', filename="imgs/ucbugg2.jpg") }} width="256px">
      <img src={{ url_for('static', filename="imgs/ucbugg3.jpg") }} width="256px">
    </div>
{% endblock %}