{% extends "base.html" %}
{% block content %}
<h2>Margaret Sy</h2>
<h1>Projects</h1>
{% endblock %}

{% block pages %}
<p>Here are some things I've worked on that didn't quite make the cut to be featured on my <a href="http://www.linkedin.com/in/margaretsy">LinkedIn</a></p>

<div class="row circle-nav">
  <div class="col-md-6 col-md-offset-3">
    <ul class="circle-select">
      <li class="circle-btn">
        <h3>Biology</h3>
      </li>
      <li class="circle-btn">
        <h3>Brainfuck</h3>
      </li>
    </ul>
  </div>
</div>

<!--To do: Add table of contents. Might also consider just reorganizing site layout.-->


<div class="articles container">

    <div class="article row" id="Biology">
      <div class="col-md-8 col-md-offset-2 text-center">
        <p>I decided to try science.</p>
        <h3>Bioinformatics</h3>
        <p>Wrote a good chunk of the pipeline for a a study on <a href="http://www.pnas.org/content/110/43/17409.full">the Neofunctionalization of young duplicate genes in Drosophila</a> in the Bachtrog Lab. It mostly involved <a href="http://xkcd.com/208/">regex</a> and plotting things. </p>

        <h3>Molecular Biology</h3>
        <p>Once upon a time, I was an Integrative Biology major, and decided that I should try benchwork to be more well-rounded. I worked in the Stillman Lab in Fall 2012, doing RNA purification for a project on the effect of increasing temperatures on insects in local streams. I followed a phenol-chloroform extraction protocol, which invovled a lot of micropipetting and cutting up flash-frozen caddisflies with tiny scissors and pureéing their body parts.</p>

      </div>
    </div>

    <div class="article row" id="Brainfuck">
        <div class="col-md-8 col-md-offset-2">
          <h3>Brainfuck Interpreter</h3>
          <p>Once I procrastinated on my Compilers homework by writing a Brainfuck interpreter in Python. While Brainfuck is notoriously difficult to program in, it was actually pretty easy to implement, considering that there are only 8 commands. </p>
          <p><a href="https://github.com/margaret/brainfuck">Code here.</a></p>
        </div>
    </div>

</div>
{% endblock %}

