{% extends "base.html" %}
{% block content %}
<h1>Projects</h1>
{% endblock %}

{% block pages %}

  <div class="col-md-6 col-md-offset-3">
    <p>Misc things I've worked on. Please see <a href="http://www.linkedin.com/in/margaretsy">LinkedIn</a> for my work experience.</p>
  </div>

  <div class="container">
  <div class="row" id="Refactoring">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
      <h3>WaveFunctionCollapse Python Port (Ongoing)</h3>
      <p>I want to make a Python port of <a href="https://github.com/mgmxgmn/WaveFunctionCollapse/">https://github.com/mgmxgmn/WaveFunctionCollapse/</a>, but first I'm trying to understand it by adding some notes to <a href="https://github.com/margaret/WaveFunctionCollapse/">my fork of the original repo</a>. Collaboration would be appreciated - I am finding it confusing ⊙~⊙</p>
    </div>
  </div>

  <div class="row" id="Sneks">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
      <h3>Snek Stickers (Ongoing, slow)</h3>
      <p>I drew a bunch of sneks. I use them like Facebook/Line stickers when I chat with people.</p>
      <blockquote class="imgur-embed-pub" lang="en" data-id="a/JeOue"><a href="//imgur.com/JeOue">Snek Stickers</a></blockquote>
      <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
    </div>
  </div>

  <div class="row" id="Image Reizer">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
      <h3>Content-Aware Image Resizing</h3>
      <p>Implementation of seam-carving algorithm by Avidan and Shamir (2007). <a href="http://github.com/margaret/seam-carver">GitHub.</a></p>
      <img src={{ url_for('static' , filename="imgs/castle_small_300_seams.gif") }} class="img-responsive">
    </div>
   </div>

  <div class="row" id="ISS">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
      <h3>ISS Tracker</h3>
      <p>Basic Javascript and web dev refresher project. Made a simple version of <a href="http://isstracker.com">ISS Tracker</a> using the <a href="http://open-notify.org/Open-Notify-API/ISS-Location-Now/">Open-Notify API.</a> Check it out <a href="http://margaretsy.com/ISS-tracker">here.</a></p>
    </div>
   </div>

  <div class="row" id="Datamuse">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
        <h3>Datamuse</h3>
        <p>Spun up a quick Python wrapper for easier querying of the cool stuff over at OneLook's <a href="http://datamuse.com/api">Datamuse API</a> (reverse-dictionary, rhyme and near rhyme dictionaries, various word relationship lookups, autocomplete suggestions, etc). Find it and other related apps at <a href="http://datamuse.com/api/users.html">http://datamuse.com/api/users.html</a></p>
    </div>
  </div>

  <div class="row" id="Animation">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
      <h3>UCBUGG</h3>
      <p>I made an animated short in the Spring 2013 <a href="http://www.ucbugg.com/">UCBUGG</a> decal. I worked with Michael Ho, Nathan Connor, Stephanie Cai, <-- (major props to these three) Jin Kim, and Katherine Xu. I worked mostly on storyboarding and models. </p>
      <p>I highly recommend taking the class if you're interested in learning the full animation pipeline! Just make sure you have enough time for it because it's a lot of work.</p>
      <div class="iframe-wrapper" style="text-align:center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yYx-v687Ol0?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>Created using the amazing and frustrating Autodesk Maya.</p>
      <!-- <img src={{ url_for('static', filename="imgs/ucbugg1.jpg") }} width="256px" class="img-responsive"> -->
      <!-- <img src={{ url_for('static', filename="imgs/ucbugg2.jpg") }} width="256px" class="img-responsive"> -->
      <img src={{ url_for('static', filename="imgs/ucbugg3.jpg") }} width="256px" class="img-responsive">
    </div>
  </div>

  <div class="row" id="Prisoner's Dilemma">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
    <h3>In which we learn that people are bad at predicting things</h3>
    <p>Once my friend ran an informal programmatic prisoner's dilemma <a href="http://lesswrong.com/lw/hxy/prisoners_dilemma_tournament_results/">contest</a> with 21 participants. I won, I suspect not because of my brilliant program (here in its entirety: <code>(lambda (x) (if (<= (random 100) 80)'D 'C))</code>), but because predicting what other people will think is really hard. Admittedly this isn't really a project so much as a mildly amusing anecdote.</p>
  </div>
  </div>
  
  <div class="row" id="Brainfuck">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
        <h3>Brainfuck Interpreter</h3>
        <p>Once I procrastinated on my Compilers homework by writing a Brainfuck interpreter (in Python, which kind of negates the point of Brainfuck, but ¯\_(ツ)_/¯). While Brainfuck is notoriously difficult to program in, it was actually pretty easy to implement, considering that there are only 8 commands. </p>
        <p><a href="https://github.com/margaret/brainfuck">Code here.</a></p>
      </div>
  </div>

  <div class="row" id="Biology">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
    <h3>Biology</h3>

      <h4>Bioinformatics</h4>
      <p>Wrote a good chunk of the pipeline for a a study on <a href="http://www.pnas.org/content/110/43/17409.full">the Neofunctionalization of young duplicate genes in Drosophila</a> in the <a href="http://ib.berkeley.edu/labs/bachtrog/">Bachtrog Lab</a> . It mostly involved <a href="http://xkcd.com/208/">regex</a> and plotting things. </p>

      <h4>Molecular Biology</h4>
      <p>Once upon a time, I was an Integrative Biology major, and decided that I should try benchwork to be more well-rounded. I worked in the <a href="http://online.sfsu.edu/stillmaj/">Stillman Lab</a> in Fall 2012, doing RNA purification for a project on the effect of increasing temperatures on insects in local streams. I followed a phenol-chloroform extraction protocol, which invovled a lot of micropipetting and cutting up flash-frozen caddisflies with tiny scissors and pureéing their body parts.</p>

    </div>
  </div>

  <div class="row" id="Circles">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
      <h3>Circles</h3>
      <p>If you stare at the center of the demo long enough while hovering randomly over the circles quickly you can get some weird <a href="https://en.wikipedia.org/wiki/Troxler%27s_fading">Troxler's fading</a> effects to happen. Made this way back when I first started poking around with jQuery, but what can I say, I still find it amusing. 
      If you like this sort of thing, also see the <a href="https://en.wikipedia.org/wiki/Lilac_chaser">Lilac Chaser</a> illusion.</p>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <ul>
        <li class="circle-btn-play">
          <h3>??</h3>
        </li>
        <li class="circle-btn-play">
          <h3>??</h3>
        </li>
        <li class="circle-btn-play">
          <h3>??</h3>
        </li>
        <li class="circle-btn-play">
          <h3>??</h3>
        </li>
        <li class="circle-btn-play">
          <h3>??</h3>
        </li>
        <li class="circle-btn-play">
          <h3>??</h3>
        </li>
        <li class="circle-btn-play">
          <h3>??</h3>
        </li>
        <li class="circle-btn-play">
          <h3>??</h3>
        </li>
        <li class="circle-btn-play">
          <h3>??</h3>
        </li>
        <li class="circle-btn-play">
          <h3>??</h3>
        </li>
        <li class="circle-btn-play">
          <h3>??</h3>
        </li>
        <li class="circle-btn-play">
          <h3>??</h3>
        </li>
      </ul>
    </div>
  </div>


</div>
{% endblock %}

