{% extends "base.html" %}
{% block content %}
<h1>Projects</h1>

    <p>Misc things I've worked on. Please see <a href="https://www.linkedin.com/in/margaretsy">LinkedIn</a> for my work experience.</p>

  <div id="Interviewing Interviewers">
      <h3>Questions to ask during interviews</h3>
      <p>A <a href="https://docs.google.com/document/d/1T-ZZY0-LLgyxhutfvGu8pYFSxstFfhY7s5HrVqgE6K4/edit?usp=drive_web&ouid=102417196198220268644">list of questions</a> (google doc) to ask (or just things to make note of) during software engineering interviews when the interviewer says "Do you have any questions for me?"</p>
  </div>

  <div id="Sneks">
      <h3>Snek Stickers</h3>
      <p>I drew a bunch of sneks. I made them into an <a href={{ url_for('sneks') }}>iOS sticker pack</a>.</p>
      <blockquote class="imgur-embed-pub" lang="en" data-id="a/JeOue"><a href="//imgur.com/JeOue">Snek Stickers</a></blockquote>
      <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
  </div>

  <div id="Image Reizer">
      <h3>Content-Aware Image Resizing</h3>
      <p>Implementation of seam-carving algorithm by Avidan and Shamir.</p>
      <p><a href="https://github.com/margaret/seam-carver">On GitHub.</a></p>
      <img src={{ url_for('static' , filename="imgs/castle_small_300_seams.gif") }} class="img-responsive">
   </div>

  <div id="Datamuse">
    <h3>Datamuse</h3>
    <p>Spun up a quick Python wrapper for easier querying of the cool stuff over at OneLook's <a href="http://datamuse.com/api">Datamuse API</a> (reverse-dictionary, rhyme and near rhyme dictionaries, various word relationship lookups, autocomplete suggestions, etc). Find it and other related apps at <a href="http://datamuse.com/api/users.html">http://datamuse.com/api/users.html</a></p>
  </div>

  <div id="Animation">
    <h3>UCBUGG</h3>
    <p>I made an animated short in the Spring 2013 <a href="https://www.ucbugg.com/">UCBUGG</a> decal. I worked with Michael Ho, Nathan Connor, Stephanie Cai, <-- (major props to these three) Jin Kim, and Katherine Xu. I worked mostly on storyboarding and models. </p>
    <p>I highly recommend taking the class if you're interested in learning the full animation pipeline! Just make sure you have enough time for it because it's a lot of work.</p>
    <div class="iframe-wrapper" style="text-align:center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/yYx-v687Ol0?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>Created using the amazing and frustrating Autodesk Maya.</p>
    <!-- <img src={{ url_for('static', filename="imgs/ucbugg1.jpg") }} width="256px" class="img-responsive"> -->
    <!-- <img src={{ url_for('static', filename="imgs/ucbugg2.jpg") }} width="256px" class="img-responsive"> -->
    <img src={{ url_for('static', filename="imgs/ucbugg3.jpg") }} width="256px">
  </div>

  <div id="Biology">
    <h3>Biology</h3>

      <h4>Bioinformatics</h4>
      <p>Wrote a good chunk of the pipeline for a a study on <a href="https://www.pnas.org/content/110/43/17409.full">the Neofunctionalization of young duplicate genes in Drosophila</a> in the <a href="https://ib.berkeley.edu/labs/bachtrog/">Bachtrog Lab</a> . It mostly involved <a href="https://xkcd.com/208/">regex</a> and plotting things. </p>

      <h4>Molecular Biology</h4>
      <p>Once upon a time, I was an Integrative Biology major, and decided that I should try benchwork to be more well-rounded. I worked in the <a href="https://online.sfsu.edu/stillmaj/">Stillman Lab</a> in Fall 2012, doing RNA purification for a project on the effect of increasing temperatures on insects in local streams. I followed a phenol-chloroform extraction protocol, which invovled a lot of micropipetting and cutting up flash-frozen caddisflies with tiny scissors and pureéing their body parts.</p>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src={{ url_for('static', filename="js/app.js") }}></script>


</div>
{% endblock %}

