{% extends "base.html" %}
{% block content %}

<h1 style="font-size:2.5em">Snek Stickers for iOS</h1>

<p>A sticker pack of relatable sneks to enhance your iMessage experience. Submission in progress. Download link will hopefully be up soon.</p>

<img src={{ url_for('static', filename="imgs/snek_stickers.png")}} title="snek stickers" width="650px">

<br>

<img src={{ url_for('static', filename="imgs/snek_stickers_iMessage_1.png")}} width="650px">

<br>

<img src={{ url_for('static', filename="imgs/snek_stickers_iMessage_2.png")}} width="650px">

<br>

<img src={{ url_for('static', filename="imgs/snek_stickers_iMessage_3.png")}} width="650px">

<br>

<img src={{ url_for('static', filename="imgs/snek_stickers_iMessage_4.png")}} width="650px">

<br>

{% endblock %}

